@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit', sans-serif;
}

main{
    width: 77vh;
    height: 50vh;
    margin: 8rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.head{
    font-size: 3rem;
}

.counter{
    font-size: 3rem;
}

.btns{
    display: flex;
    gap: 2rem;
}

button{
    width: 5rem;
    height: 3rem;
    padding: 0.65rem 0.65rem;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 1rem;
}

.btns button:nth-child(1) {
    background: red;
}

.btns button:nth-child(2) {
    background: yellow;
}

.btns button:nth-child(3) {
    background: green;
}